
/* BUTTONS


*/

.buttons {

}

.buttons button,
.buttons .button {
  float: left;
  margin: 0; padding: 0;
  border: none; outline: none;
  background: none;
  cursor: pointer;
  overflow: visible;
}

.buttons .orange .wrap {
  color: white;
  font-weight: bold;
  font-size: 14px;
  height: 32px;
  padding: 0 12px 0 0;
  white-space: nowrap;
  background: transparent url('images/orange-button-cap.png') no-repeat right top;
}

.buttons .orange .cap {
  height: 32px;
  line-height: 30px;
  padding: 0 0 0 12px;
  background: transparent url('images/orange-button.png') no-repeat left top;
}

.buttons .orange span {
  display: block;
  height: 32px;
  margin: 0 10px;
  background: none;
}

.buttons .orange:active span {
  background: transparent url('images/orange-button-tap.png') no-repeat center center;
}

.buttons .orange.disabled .wrap { cursor:default; background-position: right -34px; }
.buttons .orange.disabled .cap { background-position: left -34px; }
.buttons .orange.disabled span { background: none; }

.buttons .orange-arrow .cap { background-image: url('images/orange-button-with-arrow.png'); }
.buttons .orange-arrow span { margin-left: 28px; }

