
/* BUTTONS


*/


.buttons {
  font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
}

.buttons .button {
  /*float: left;*/
  font: inherit;
  color: white;
  margin: 0; padding: 0;
  border: none; outline: none;
  background: none;
  cursor: pointer;
  overflow: visible;
  text-transform: lowercase;
  width: 135px;
}

.buttons .small { width: 135px; }
.buttons .large { width: 212px; }

.buttons .button .wrap {
  font-size: 12px;
  height: 32px;
  padding: 0 12px 0 0;
  white-space: nowrap;
  background: transparent url('images/orange-button-cap.png') no-repeat right top;
}

.buttons .button .cap {
  height: 32px;
  line-height: 30px;
  padding: 0 0 0 12px;
  text-align: center;
  background: transparent url('images/orange-button.png') no-repeat left top;
}

.buttons .button span {
  display: block;
  height: 32px;
  margin: 0 10px;
  background: none;
}

.buttons .button:active span {
  background: transparent url('images/orange-button-tap.png') no-repeat center center;
}

.buttons .disabled .wrap { cursor: default; background-position: right -34px; }
.buttons .disabled .cap { background-position: left -34px; }
.buttons .disabled:active span { background: none; }

.buttons .cart .cap { background-image: url('images/orange-button-with-cart.png'); }
.buttons .check .cap { background-image: url('images/orange-button-with-check.png'); }
.buttons .arrow .cap { background-image: url('images/orange-button-with-arrow.png'); }
.buttons .cart span, .buttons .check span, .buttons .arrow span { margin-left: 24px; }

.buttons a { display: inline-block; } /* HACK */
.buttons a, .buttons a:hover { text-decoration: none; }

.buttons .blank { color: #2a6b77; }
.buttons .blank span { display: inline; }
.buttons .blank:active span { background: none; }
.buttons .blank:hover span { text-decoration: underline; }
.buttons .blank .wrapper { background: none; }
.buttons .blank .wrap .cap { background: none; text-align: right; }