
.ribbon-wrap {
  display: block;
  height: 32px;
  padding: 0 30px 0 0;
  background: transparent url('images/ribbon-right.png') no-repeat right 0;
  color: #fff;
  line-height: 28px;
  text-align: center;
}

.ribbon-wrap .cap {
  display: block;
  height: 32px;
  padding: 0 0 0 30px;
  background: transparent url('images/ribbon-left.png') no-repeat 0 0;
}

.fortune-wrap {
  display: block;
  height: 35px;
  background: transparent url('images/fortune-right.png') no-repeat right 0;
  padding: 0 69px 0 0;
  color: #666;
  line-height: 30px;
}

.fortune-wrap .cap {
  display: block;
  height: 35px;
  padding: 0 0 0 10px;
  background: transparent url('images/fortune-left.png') no-repeat 0 0;
}

/* TEXTFIELDS



*/

.text-wrap {
  height: 31px;
  padding: 0 10px 0 0;
  background: transparent url('images/textbox-right.png') no-repeat right 0;
}

.text-wrap .cap {
  display: block;
  height: 31px;
  line-height: 30px;
  padding: 0 0 0 10px;
  background: transparent url('images/textbox-left.png') no-repeat 0 0;
}

.text-wrap input { color: #333; }
.text-wrap:hover input { color: #000; }

.text-wrap input.watermark { color: #777; }
.text-wrap input::-webkit-input-placeholder { color: #777; }

.text-wrap:hover input.watermark { color: #333; }
.text-wrap:hover input::-webkit-input-placeholder { color: #333; }

.active .text-wrap { background-position: right -64px; }
.active .text-wrap .cap { background-position: 0 -64px; }

.disabled .text-wrap { background-position: right -96px; }
.disabled .text-wrap .cap { background-position: 0 -96px; }
.disabled .text-wrap input.watermark { color: #999; }
.disabled .text-wrap input::-webkit-input-placeholder { color: #999; }

.errors .text-wrap { background-position: right -128px; }
.errors .text-wrap .cap { background-position: 0 -128px; }
.errors .text-wrap input { color: #300; }
.errors .text-wrap input.watermark { color: #900; }
.errors .text-wrap input::-webkit-input-placeholder { color: #900; }
.errors .text-wrap:hover input.watermark { color: #633; }
.errors .text-wrap:hover input::-webkit-input-placeholder { color: #633; }

.text-wrap input {
  width: 100%;
  background: none;
  border: none;
  font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
  font-size: 13px;
  height: 21px;
  line-height: 16px;
  margin: 0; padding: 0;
}


.touch .text-wrap input[type=text],
.touch .text-wrap input[type=password] {
  -webkit-appearance: none;
}

/* DEFINE FIXED WIDTHS FOR SPECIFIC TYPES
   (do not put colors and layout details here)
*/
.text-wrap.quantity { width: 50px; }
.text-wrap.card-number { width: 150px; }
.text-wrap.card-code { width: 70px; }

/* SELECTBOXES



*/

.select-wrap {
  position: relative;
  height: 31px;
  padding: 0 24px 0 0;
  background: transparent url('images/selectbox-right.png') no-repeat 100% 0;
}

.select-wrap span {
  display: block;
  height: 31px;
  padding: 0 0 0 24px;
  background: transparent url('images/selectbox-left.png') no-repeat 0 0;
  vertical-align: middle;
}

.select-wrap label {
  display: block;
  font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
  font-size: 13px;
  height: 28px;
  line-height: 28px;
  margin: 0 0 0 -12px;
  white-space: nowrap;
  overflow: hidden;
}

.select-wrap label { color: #333 }
.select-wrap:hover label { color: #000; }
.select-wrap label.watermark { color: #777; }
.select-wrap:hover label.watermark { color: #333; }

.select-wrap:hover { background-position: right -32px; }
.select-wrap:hover .cap { background-position: 0 -32px; }

.active .select-wrap { background-position: right -96px; }
.active .select-wrap .cap { background-position: 0 -96px; }

.active .select-wrap:hover { background-position: right -128px; }
.active .select-wrap:hover .cap { background-position: 0 -128px; }

.disabled .select-wrap { background-position: right -192px; }
.disabled .select-wrap .cap { background-position: 0 -192px; }
.disabled .select-wrap label { color: #999; }
.disabled .select-wrap:hover label { color: #999; }

.errors .select-wrap { background-position: right -224px; }
.errors .select-wrap .cap { background-position: 0 -224px; }
.errors .select-wrap:hover { background-position: right -256px; }
.errors .select-wrap:hover .cap { background-position: 0 -256px; }
.errors .select-wrap label { color: #300; }
.errors .select-wrap label.watermark { color: #900; }
.errors .select-wrap:hover label.watermark { color: #900; }

.select-wrap select {
  position: absolute;
  left: 0; top: 0;
  background: none;
  border: none; outline: none;
  margin: 0; padding: 0;
  font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
  font-size: 13px;
  height: 100%; width: 100%;
  line-height: 16px;
  opacity: 0; filter: alpha(opacity:0);
}

.select-wrap option {
  padding:  5px; font-size: 13px; background: #fff;
}

/* DEFINE FIXED WIDTHS FOR SPECIFIC TYPES
   (do not put colors and layout details here)
*/

.select-wrap.state { width: 135px; }
.select-wrap.month { width: 120px; }
.select-wrap.day { width: 60px; }
.select-wrap.year { width: 60px; }
.select-wrap.relationship-type { width: 200px; }


/* DATE FIELDS



*/

.date-wrap q {
  float: left;
  font-size: 15px;
  color: #333;
  line-height: 30px;
  margin: 0 5px;
}

.date-wrap .month {
  float: left;
  width: 50px;
}
.date-wrap .day {
  float: left;
  width: 55px;
}
.date-wrap .year {
  float: left;
  width: 65px;
}


/* BUTTONS


*/

button {
  float: left;
  font-size: 11px;
  font-weight: bold;
  font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
  color: #333;
  margin: 0; padding: 0;
  border: none; outline: none;
  background: none;
  cursor: pointer;
  overflow: visible;
}

button .wrap {
  display: block;
  height: 32px;
  padding: 0 5px 0 0;
  white-space: nowrap;
  background: transparent url('images/button-right.png') no-repeat right 0;
}

button .cap {
  display: block;
  height: 32px;
  line-height: 30px;
  padding: 0 10px 0 15px;
  background: transparent url('images/button-left.png') no-repeat 0 0;
}

button:hover { color: #000; }
button:hover .wrap { background-position: right -34px; }
button:hover .cap { background-position: 0 -34px; }

button:active { color: #000; }
button:active .wrap { background-position: right -68px; }
button:active .cap { background-position: 0 -68px; }

button:disabled { color: #666; cursor: default; }
button:disabled .wrap { background-position: right -102px; }
button:disabled .cap { background-position: 0 -102px; }

.textshadow button { text-shadow: rgba(255, 255, 255, 0.75) 0 1px 0; }
.textshadow button:active { text-shadow: rgba(255, 255, 255, 0.75) 0 -1px 0; }

button.check .cap { background-image: url('images/button-with-check.png'); padding-left: 25px; }
button.cross .cap { background-image: url('images/button-with-cross.png'); padding-left: 25px; }

button.red { color: #fff; }
button.red .wrap { background-image: url('images/red-button-right.png') }
button.red .cap { background-image: url('images/red-button-left.png') }

button.red:disabled { color: #666; }

.textshadow button.red { text-shadow: rgba(100, 0, 0, 0.75) 0 -1px 0; }
.textshadow button.red:disabled { text-shadow: rgba(255, 255, 255, 0.75) 0 1px 0; }

*:disabled { color: green; }