
/* TURN OFF FOCUS EFFECT: THE WATERMARK DOES
   NOT GET THE BLUR EVENT FOR PASSWORDS */
.text-wrap.active { background-position: right 0; }
.text-wrap.active>span { background-position: 0 0; }
/* UNLESS IT HAS ERRORS */
.text-wrap.errors { background-position: right -128px; }
.text-wrap.errors>span { background-position: 0 -128px; }

.text-wrap input {
  background: transparent url('images/clear.gif');
}