

<form action="/" method="post">
  <fieldset>
    <div>
      <label for="password1">Password</label>
      <div class="text-wrap">
        <span>
          <input type="password" id="password1" />
        </span>
      </div>
    </div>

    <div>
      <label for="textbox1">Normal</label>
      <div class="text-wrap">
        <span>
          <input type="text" id="textbox1" />
        </span>
      </div>
    </div>

    <div>
      <label for="textbox2">With Errors</label>
      <div class="text-wrap">
        <span>
          <input type="text" id="textbox2" class="field_with_errors" />
        </span>
      </div>
    </div>

    <div>
      <label for="textbox3">Disabled</label>
      <div class="text-wrap">
        <span>
          <input type="text" id="textbox3" disabled="true" />
        </span>
      </div>
    </div>

    <div>
      <label for="selectbox1">Normal</label>
      <div class="select-wrap">
        <span>
          <select id="selectbox1">
            <option value="">Select a gender</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
          </select>
        </span>
      </div>
    </div>

    <div>
      <label for="selectbox2">Disabled</label>
      <div class="select-wrap">
        <span>
          <select id="selectbox2" disabled>
            <option value="">Select a gender</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
          </select>
        </span>
      </div>
    </div>

    <div>
      <label for="selectbox3">With Errors</label>
      <div class="select-wrap">
        <span>
          <select id="selectbox3" class="field_with_errors">
            <option value="">Select a gender</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
          </select>
        </span>
      </div>
    </div>

    <div class="field">
      <div class="date-wrap clear">
        <label for="month">MM</label>
        <div class="text-wrap month">
          <span>
            <input type="text" id="month" />
          </span>
        </div>

        <q>/</q>

        <label for="day">DD</label>
        <div class="text-wrap month">
          <span>
            <input type="text" id="day" />
          </span>
        </div>

        <q>/</q>

        <label for="year">YYYY</label>
        <div class="text-wrap year">
          <span>
            <input type="text" id="year" />
          </span>
        </div>
      </div>
    </div>

    <p></p>

    <button>
      <div class="wrap">
        <span>Sweet!</span>
      </div>
    </button>

  </fieldset>
</form>

