
<form action="/" method="post">
  <fieldset>
    <h2>Text boxes</h2>
    
    <div class="field">
      <label for="textbox1">Normal</label>
      <div class="text-wrap">
        <span>
          <input type="text" id="textbox1" />
        </span>
      </div>
    </div>

    <div class="field">
      <label for="password1">Password</label>
      <div class="text-wrap">
        <span>
          <input type="password" id="password1" />
        </span>
      </div>
    </div>

    <div class="field">
      <label for="textbox2">With Errors</label>
      <div class="text-wrap">
        <span>
          <input type="text" id="textbox2" class="field_with_errors" />
        </span>
      </div>
    </div>

    <div class="field">
      <label for="textbox3">Disabled</label>
      <div class="text-wrap">
        <span>
          <input type="text" id="textbox3" disabled="true" />
        </span>
      </div>
    </div>

  </fieldset>
  <fieldset>
    <h2>Select boxes</h2>

    <div class="field">
      <label for="selectbox1">Normal</label>
      <div class="select-wrap">
        <span>
          <select id="selectbox1">
            <option value="">Select a gender</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
          </select>
        </span>
      </div>
    </div>

    <div class="field">
      <label for="selectbox2">Disabled</label>
      <div class="select-wrap">
        <span>
          <select id="selectbox2" disabled>
            <option value="">Select a gender</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
          </select>
        </span>
      </div>
    </div>

    <div class="field">
      <label for="selectbox3">With Errors</label>
      <div class="select-wrap">
        <span>
          <select id="selectbox3" class="field_with_errors">
            <option value="">Select a gender</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
          </select>
        </span>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <h2>Buttons</h2>

    <div class="buttons">
      <button class="small orange button">
        <div class="wrap">
          <div class="cap">
            <span>Sign up now!</span>
          </div>
        </div>
      </button>

      <button class="small orange check button">
        <div class="wrap">
          <div class="cap">
            <span>Save changes</span>
          </div>
        </div>
      </button>

      <button class="small orange button" disabled="true">
        <div class="wrap">
          <div class="cap">
            <span>Oh Snap!</span>
          </div>
        </div>
      </button>
    </div>
  </fieldset>
</form>

