
<h1 class="ribbon-wrap">
  <span class="cap">Sliding Doors</span>
</h1>

<form action="/" method="post">
  <fieldset>
    <h2 class="fortune-wrap">
      <span class="cap">Text boxes</span>
    </h2>
    
    <div class="field">
      <label for="textbox1">Normal</label>
      <div class="text-wrap">
        <span class="cap">
          <input type="text" id="textbox1" />
        </span>
      </div>
    </div>

    <div class="field">
      <label for="password1">Password</label>
      <div class="text-wrap">
        <span class="cap">
          <input type="password" id="password1" />
        </span>
      </div>
    </div>

    <div class="field errors">
      <label for="textbox2">With Errors</label>
      <div class="text-wrap">
        <span class="cap">
          <input type="text" id="textbox2" />
        </span>
      </div>
    </div>

    <div class="field disabled">
      <label for="textbox3">Disabled</label>
      <div class="text-wrap">
        <span class="cap">
          <input type="text" id="textbox3" disabled="true" />
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <h2 class="fortune-wrap">
      <span class="cap">Select boxes</span>
    </h2>

    <div class="field">
      <label for="selectbox1">Normal</label>
      <div class="select-wrap">
        <span class="cap">
          <select id="selectbox1">
            <option value="">Select a gender</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
          </select>
        </span>
      </div>
    </div>

    <div class="field disabled">
      <label for="selectbox2">Disabled</label>
      <div class="select-wrap">
        <span class="cap">
          <select id="selectbox2" disabled>
            <option value="">Select a gender</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
          </select>
        </span>
      </div>
    </div>

    <div class="field errors">
      <label for="selectbox3">With Errors</label>
      <div class="select-wrap">
        <span class="cap">
          <select id="selectbox3">
            <option value="">Select a gender</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
          </select>
        </span>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <h2 class="fortune-wrap">
      <span class="cap">Buttons</span>
    </h2>

    <button>
      <div class="wrap">
        <span class="cap">Normal</span>
      </div>
    </button>

    <button disabled>
      <div class="wrap">
        <span class="cap">Disabled</span>
      </div>
    </button>

    <button class="check">
      <div class="wrap">
        <span class="cap">Check</span>
      </div>
    </button>

    <button class="check" disabled>
      <div class="wrap">
        <span class="cap">Check Disabled</span>
      </div>
    </button>

    <button class="cross">
      <div class="wrap">
        <span class="cap">Cross</span>
      </div>
    </button>

    <button class="cross" disabled>
      <div class="wrap">
        <span class="cap">Cross Disabled</span>
      </div>
    </button>

    <button class="red">
      <div class="wrap">
        <span class="cap">Red</span>
      </div>
    </button>

    <button class="red" disabled>
      <div class="wrap">
        <span class="cap">Red Disabled</span>
      </div>
    </button>

  </fieldset>
</form>

