<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Thoughtful</title>
    <link href="stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/fields.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/buttons.css" media="screen" rel="stylesheet" type="text/css" />
<!--[if IE 7 ]>
<link href="stylesheets/ie/7.css" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 8 ]>
<link href="stylesheets/ie/8.css" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
    <style type="text/css">
body { margin: 20px 0 0 20px; background-color: #efefef; }
p { margin-bottom: 10px; }
form { width: 400px; }
  fieldset>div { margin-bottom: 5px; }
    </style>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/jquery.watermark.js"></script>
    <script src="javascripts/modernizr.js"></script>
    <script src="javascripts/controls.js"></script>
  </head>
  <body>
	<%= yield %>
  </body>
</html>
