<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Thoughtful</title>
    <link href="stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="stylesheets/sliding-doors.css" media="screen" rel="stylesheet" type="text/css" />
<!--[if IE 7 ]>
<link href="stylesheets/ie/7.css" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 8 ]>
<link href="stylesheets/ie/8.css" media="screen" rel="stylesheet" type="text/css" />
<![endif]-->
    <style type="text/css">
    body { background-color: #fff; margin: 20px; font-family: arial, helvetica, sans-serif; }
    h1 { font-weight:normal; font-size: 140%; }
    h2 { font-weight:normal; font-size: 120%; margin: 5px 0; }
    fieldset { width: 350px; }
    fieldset .field { margin-bottom: 10px; }
    </style>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/jquery.watermark.js"></script>
    <script src="javascripts/modernizr.js"></script>
    <script src="javascripts/sliding-doors.js"></script>
  </head>
  <body>
	<%= yield %>
  </body>
</html>
